/* Add your styles here */
.outer{
    padding: 10px;
    border: 1px solid green;
}
.res{
    height: 40px;
    width: 40px;
    float: left;
    margin: 15px;
    box-shadow: 10px 10px 8px #888888;
   }
.answer{
    box-shadow: 10px 10px 8px #888888;
}
.header{
    color: white;
}
.form-group{
    width: 400px;
}
